
body{
    background-image: url("/assets/imagen-fondo.jpeg");
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
